<h1 style="color:red">Informacion Controller</h1>

<h2 style="color:greenyellow">Nombre: @ViewData["NOMBRE"]</h2>
<h2 style="color:blue">Edad: @ViewData["EDAD"]</h2>
<h2 style="color:aqua">Hoy es @ViewBag.DiaSemana</h2>